<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._CTR4WIN_" version="1.1.220818.3083605" targetFramework="net481" />
  <package id="_nilnul_._LIB_" version="1.1.230728.104656-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230709.141821-sym" targetFramework="net481" />
  <package id="AE.Net.Mail" version="1.7.7816.38666" targetFramework="net48" />
  <package id="AWSSDK.CodeCommit" version="3.7.301.15" targetFramework="net481" />
  <package id="AWSSDK.Core" version="3.7.301.9" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net481" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.6.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Build" version="17.8.3" targetFramework="net481" />
  <package id="Microsoft.Build.Engine" version="17.8.3" targetFramework="net481" />
  <package id="Microsoft.Build.Framework" version="17.8.3" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Memory" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="8.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.2.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="7.2.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Logging" version="7.2.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Tokens" version="7.2.0" targetFramework="net481" />
  <package id="Microsoft.IO.Redist" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Msagl" version="1.1.6" targetFramework="net481" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.6" targetFramework="net481" />
  <package id="Microsoft.Msagl.GraphViewerGDI" version="1.1.7" targetFramework="net481" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.8" targetFramework="net481" />
  <package id="Microsoft.NET.StringTools" version="17.8.3" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net481" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="16.205.1" targetFramework="net481" />
  <package id="Microsoft.TeamFoundationServer.Client" version="16.205.1" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Services.Client" version="16.205.1" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.8.2112" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3-beta1" targetFramework="net481" />
  <package id="nilnul._acc_._LIB_" version="2.1.231121.51706-sym" targetFramework="net481" />
  <package id="nilnul._acc_._LINQ_" version="1.1.220731.182834" targetFramework="net48" />
  <package id="nilnul._app_._LIB_" version="1.1.231218.102740-sym" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.231213.174600-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.231121.55239-sym" targetFramework="net481" />
  <package id="nilnul._comm_._LIB_" version="1.0.7827.34092" targetFramework="net48" />
  <package id="nilnul._data_._LIB_" version="1.1.230318.144409-sym" targetFramework="net481" />
  <package id="nilnul._dev_._LIB_" version="1.1.240120.140557-sym" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.240127.25605-sym" targetFramework="net481" />
  <package id="nilnul._fs_._LINQ_" version="1.1.240127.25606-sym" targetFramework="net481" />
  <package id="nilnul._fs_._WIN_CTR_" version="1.1.220828.160201" targetFramework="net481" />
  <package id="nilnul._human_._LIB_" version="1.1.220725.151533" targetFramework="net48" />
  <package id="nilnul._human_._LINQ_" version="1.1.220725.150847" targetFramework="net48" />
  <package id="nilnul._ling_._LIB_" version="1.1.220728.141114" targetFramework="net481" />
  <package id="nilnul._linq_._LIB_" version="1.1.231012.113523-sym" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.240104.43053-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.231206.31605-sym" targetFramework="net481" />
  <package id="nilnul._obj_._CTR4WIN_" version="1.1.220725.150624" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.240103.74005-sym" targetFramework="net481" />
  <package id="nilnul._os_._LIB4FX_" version="1.0.240118.150201-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.231003.172246-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230730.135726-sym" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.240110.52959-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.240109.55913-sym" targetFramework="net481" />
  <package id="nilnul._txt_._WIN_CTR_" version="1.1.220828.153928" targetFramework="net481" />
  <package id="nilnul._web_._LIB_" version="1.1.230907.121331-sym" targetFramework="net481" />
  <package id="nilnul._win_._CTR4WIN_" version="1.1.220909.180734" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.240118.150156-sym" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.231205.164405-sym" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.230611.40617-sym" targetFramework="net481" />
  <package id="nilnul.dev._src_._LIB_" version="1.1.240116.180257-sym" targetFramework="net481" />
  <package id="nilnul.fs._git_._LIB_" version="2.1.240118.150252-sym" targetFramework="net481" />
  <package id="nilnul.fs.git.svr_.gitlab.client_.GitLabApiClient" version="1.20.0" targetFramework="net481" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.1.240103.51136-sym" targetFramework="net481" />
  <package id="nilnul.lang_._cognom_._LIB_" version="1.1230806.123209-sym" targetFramework="net481" />
  <package id="nilnul.lang_._cot_._LIB_" version="1.1230804.164911-sym" targetFramework="net481" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.231025.131213-sym" targetFramework="net481" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.230517.130110-sym" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.230515.93530-sym" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.231225.105453-sym" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.240104.60751-sym" targetFramework="net481" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.230507.144737-sym" targetFramework="net481" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.231121.172654-sym" targetFramework="net481" />
  <package id="nilnul.rel._graph_._LIB_" version="1.1.230804.73424-sym" targetFramework="net481" />
  <package id="NuGet.Common" version="6.8.0" targetFramework="net481" />
  <package id="NuGet.Configuration" version="6.8.0" targetFramework="net481" />
  <package id="NuGet.Frameworks" version="6.8.0" targetFramework="net481" />
  <package id="NuGet.Packaging" version="6.8.0" targetFramework="net481" />
  <package id="NuGet.Versioning" version="6.8.0" targetFramework="net481" />
  <package id="Octokit" version="9.1.0" targetFramework="net481" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net481" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.231025.131213-sym" targetFramework="net481" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net481" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net481" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net481" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net481" />
  <package id="System.Console" version="4.3.1" targetFramework="net481" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net481" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net481" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net481" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net481" />
  <package id="System.IdentityModel.Tokens.Jwt" version="7.2.0" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net481" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net481" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net481" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net481" />
  <package id="System.Reflection.MetadataLoadContext" version="8.0.0" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Permissions" version="8.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.1" targetFramework="net481" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net481" />
  <package id="System.Threading" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Dataflow" version="8.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net481" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net481" />
  <package id="ZTn.Json.JsonTreeView" version="1.0.7838.23259" targetFramework="net481" />
</packages>